<body>
    <form method="POST">
        <label for="startDate">Start Date</label>
        <input maxlength="12" name="startDate" />

        <label for="endDate">End Date</label>
        <input name="endDate" />

        <button type="submit">Search</button>

    </form>
</body>