<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <h1>Time</h1>
    <h3>To see the Person, Man or Woman of the year please enter a set of years between 1927 and 2016</h3>
    <form method="POST">
        <label for="startDate">Start Date</label>
        <input maxlength="12" name="startDate" />

        <label for="endDate">End Date</label>
        <input name="endDate" />

        <button type="submit">Search</button>

    </form>
</body>